body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.toggle-switch {
  border-radius: 4px;
  background-color: #ccc;
  position: relative;
  height: 50px;
  margin: 10px auto;

  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}
.toggle-switch-knob {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 4px;
  background-color: rgb(130, 181, 198);
}

.switch1 {
  width: 450px;
}
.switch2 {
  width: 650px;
}
.switch3 {
  width: 350px;
}

.grid {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid #999;
  border-width: 1px 1px 0 0;
  width: 451px;
  height: 451px;
}
.grid-cell {
  border: 1px solid #999;
  border-width: 0 0 1px 1px;
  width: 150px;
  height: 150px;
  line-height: 150px;
  text-align: center;
  color: #aaa;
  float: left;
  -webkit-user-select: none;
  user-select: none;
}

.grid-marker, .grid .drop-hint {
  position: absolute;
  background: red;
  width: 150px;
  height: 150px;
  opacity: 0.6;
}
.grid .drop-hint {
  background: #999;
  opacity: 0.3;
}
