{
  "extends": "eslint:recommended",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": [ "import", "react" ],
  "rules": {
    "array-bracket-spacing": [2, "always"],
    "comma-dangle": [2, "never"],
    "eqeqeq": [2, "smart"],
    "jsx-quotes": [1, "prefer-double"],
    "no-unused-vars": 0,
    "object-curly-spacing": [2, "always"],
    "quotes": [2, "single", "avoid-escape"],
    "react/jsx-space-before-closing": [2, "never"],
    "react/jsx-uses-react": 1,
    "semi": [2, "never"],
    "space-before-blocks": [2, "always"]
  }
}
