html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

#new-message {
  position: fixed;
  width: 100%;
  padding: 2px 5px 4px;
  bottom: 0;
  background: white;
  border-top: 1px solid #999;
}

#new-message input {
  border: 0;
  width: 100%;
  outline: none;
}

.message-list {
  list-style-type: none;
  margin: 0;
  padding: 0 0 20px 0;
}

.message-list li {
  position: relative;
  padding: 1px 3px;
}

.message-username {
  position: absolute;
  width: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.message-text {
  width: 100%;
  padding-left: 85px;
}

.own-message {
  background-color: #ddd;
}
