html {
  overflow: hidden; /* prevent elastic scrolling in WebKit */
}

body {
  margin: 0;
  line-height: 1.5;
}

.chat {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: lightblue;
  border-bottom: 1px solid #666;
  color: #666;
}
.chat-title,
.chat-message-count {
  display: inline-block;
  margin: 0;
}
.chat-title {
  font-size: 1.5em;
}

.messages {
  overflow: auto;
  flex: 1;
}

.new-message-form {
  margin: 0;
}
.new-message {
  padding: 2px 5px 4px;
  border-top: 1px solid #666;
  background: white;
}
.new-message input {
  border: 0;
  width: 100%;
  outline: none;
  font-size: 1.2em;
  padding: 0.5em;
}

ol.message-groups,
ol.messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.message-group {
  position: relative;
  min-height: 40px;
  padding: 0 10px;
  margin: 10px 0;
}
.message-group-avatar {
  position: absolute;
  background-color: pink;
  line-height: 0;
  width: 40px;
  overflow: hidden;
}
.message-group-avatar img {
  height: 40px;
}

ol.messages {
  margin-left: 40px;
}

.message {
  padding: 8px 10px;
}
