body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  background: white;
}
a:link,
a:visited {
  color: #00d;
  text-decoration: none;
}
a:link:hover {
  text-decoration: underline;
}

.index-logo {
  max-width: 800px;
  margin: 30px auto 40px;
  text-align: center;
}
.index-logo img {
  width: 300px;
}
@media (max-width: 600px) {
  .index-logo {
    margin: 10px auto 20px;
  }
}

.index-subjectsTable {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
.index-subjectsTable a:link,
.index-subjectsTable a:visited {
  color: blue;
}
.index-lectureCell a:link,
.index-lectureCell a:visited {
  color: black;
}
.index-subjectsTable tr:nth-child(even) {
  background: #eef;
}
.index-subjectsTable td {
  padding: 10px;
  text-align: left;
}
.index-subjectNumber {
  font-size: 1.5em;
  color: #aaa;
}
.index-lectureCell {
  font-size: 1.5em;
}
.index-exerciseCell {
  padding-left: 20px;
}

.ContentToggle {
  border: 1px solid #ccc;
  margin: 10px 0;
  background: #fff;
}
.ContentToggle__Summary {
  cursor: pointer;
  border: none;
  background: inherit;
  display: block;
  width: 100%;
  text-align: left;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  font: inherit;
  border-bottom: solid 1px transparent;
}
.ContentToggle__Summary:before {
  display: inline-block;
  width: 1em;
  content: "▸";
}
.ContentToggle__Summary--is-open:before {
  content: "▾";
}
.ContentToggle__Details {
  padding: 0 10px;
}

.hot {
  color: red;
}
