html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background: #333;
}

ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
