body {
  background: #eee;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
}

button:focus {
  outline: 2px solid hsl(200, 50%, 50%);
}

a:link,
a:visited {
  color: #00D;
}

#index {
  background: hsl(10, 50%, 50%)
}

#index ul {
  padding: 0;
  list-style: none;
}

#index a {
  font-size: 20px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: white;
  margin: 10px;
}

#index a:hover {
  color: hsl(10, 50%, 80%)
}

a.active {
  color: hsl(300, 50%, 50%);
}

.ContentToggle {
  border: 1px solid #ccc;
  margin: 10px 0;
  background: #fff;
}

.ContentToggle__Summary {
  cursor: pointer;
  border: none;
  background: inherit;
  display: block;
  width: 100%;
  text-align: left;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  font: inherit;
  border-bottom: solid 1px transparent;
}

.ContentToggle__Summary:before {
  display: inline-block;
  width: 1em;
  content: '▸';
}

.ContentToggle__Summary--is-open:before {
  content: '▾';
}

.ContentToggle__Details {
  padding: 0 10px;
}

.hot {
  color: red;
}
